:root {
  --dark-color: #000000;
  --light-color: #ffffff;
}

body {
  background: var(--dark-color);
  color: var(--light-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  background-color: white; /* Убедись, что фон диалога белый */
  padding: 16px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
